workflows/agente-camaleao-crm/Agente Camaleão CRM - LIMPO MCP.json
{
  "name": "Agente Camaleão CRM - TODAS AS 4 TOOLS VIA MCP - 17/12 15:30",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-execute",
      "name": "▶️ Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-camaleao-crm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "🎯 Entrada Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "agente-camaleao-crm"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.pergunta ?? $json.body?.pergunta ?? $json.query?.pergunta ?? 'Como posso ajudar com os dados do CRM?' }}",
        "options": {
          "systemMessage": "Você é o Agente Camaleão CRM, especialista em dados da Camaleão Camisas.\n\nFERRAMENTAS DISPONÍVEIS VIA MCP GATEWAY:\n\n**1. espelho_bancario** - Consulta recebimentos bancários por canal\n   - Entrada: { \"periodo\": \"hoje\" | \"ontem\" | \"esta semana\" | \"novembro\" | ... } OU { \"data_inicio\": \"YYYY-MM-DD\", \"data_fim\": \"YYYY-MM-DD\" }\n   - Retorna JSON com campo \"mensagem\" que já está formatado para o usuário\n   - ⚠️ **CRÍTICO**: Use APENAS o campo \"mensagem\" na sua resposta. NUNCA adicione informações de outros campos JSON.\n   - ⚠️ **CRÍTICO**: NUNCA mencione \"Pagamentos\", \"Saldo Líquido\" ou \"Total Pago\" - a ferramenta retorna APENAS recebimentos\n   - Adicione a data no formato: \"hoje (17/12)\" ou \"ontem (16/12)\" baseado no campo \"periodo_label\" e \"data_inicio\"\n\n   **PROTOCOLO DE DATAS (Use estes COMANDOS no campo 'periodo'):**\n   - 'HOJE', 'ONTEM', 'ANTEONTEM'\n   - 'SEMANA_ATUAL', 'SEMANA_PASSADA'\n   - 'MES_ATUAL', 'MES_PASSADO'\n   \n   **DIAS DA SEMANA (Normalização Inteligente):**\n   Se o usuário disser \"naquela sexta\", \"sexta passada\", \"sexta anterior\", normalize para:\n   - 'SEGUNDA_PASSADA', 'TERCA_PASSADA', 'QUARTA_PASSADA', 'QUINTA_PASSADA', 'SEXTA_PASSADA', 'SABADO_PASSADO', 'DOMINGO_PASSADO'\n\n   ⚠️ **REGRA DE OURO:** NUNCA calcule datas numéricas (ex: não tente adivinhar que sexta passada foi dia 12). Use o comando `SEXTA_PASSADA` e deixe o sistema calcular.\n\n**2. monitorar_pedidos_parados** - Monitora pedidos em status 'Costurado e Embalado' há mais de 2 dias\n   - Entrada: Nenhuma (não precisa passar parâmetros)\n   - Retorna: Total de pedidos parados, quantidade crítica (>7 dias), lista com código, cliente, dias parado e status\n\n**3. consultar_pedidos** - Consulta pedidos por período\n   - Entrada: { \"data_inicio\": \"YYYY-MM-DD\", \"data_fim\": \"YYYY-MM-DD\" } (opcional, padrão é hoje)\n   - Retorna: Total de pedidos, valor total, total pago, total devendo, lista dos primeiros 15 pedidos com detalhes\n\n**4. consultar_pagamentos** - Consulta pendências de pagamento no sistema\n   - Entrada: Nenhuma (não precisa passar parâmetros)\n   - Retorna: Total a receber e quantidade de pedidos pendentes\n\nUSO:\nChame a tool 'mcp_gateway_crm' especificando qual endpoint usar no corpo da requisição:\n- Para espelho_bancario: { \"_endpoint\": \"espelho_bancario\", \"periodo\": \"hoje\" }\n- Para monitorar_pedidos_parados: { \"_endpoint\": \"monitorar_pedidos_parados\" }\n- Para consultar_pedidos: { \"_endpoint\": \"consultar_pedidos\", \"data_inicio\": \"2025-12-01\", \"data_fim\": \"2025-12-31\" }\n- Para consultar_pagamentos: { \"_endpoint\": \"consultar_pagamentos\" }\n\n**FORMATO DE RESPOSTA PARA ESPELHO_BANCARIO:**\nQuando usar espelho_bancario, sua resposta deve ser EXATAMENTE:\n\n💰 Recebimentos de [periodo_label] ([DD/MM]):\n\n[copie o conteúdo do campo \"mensagem\" LITERALMENTE, sem adicionar nada]\n\n**NUNCA adicione:**\n- Pagamentos\n- Saldo líquido\n- Total pago\n- Qualquer outra informação que não esteja no campo \"mensagem\""
        }
      },
      "id": "agent",
      "name": "🤖 Agente Camaleão",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [460, 400]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "id": "openai-model",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [680, 280]
    },
    {
      "parameters": {
        "name": "mcp_gateway_crm",
        "description": "Gateway para todas as ferramentas do CRM Camaleão. SEMPRE inclua '_endpoint' no JSON para especificar qual ferramenta usar: 'espelho_bancario' (recebimentos/pagamentos), 'monitorar_pedidos_parados' (pedidos atrasados), 'consultar_pedidos' (pedidos por período), 'consultar_pagamentos' (pendências). Exemplo: {\"_endpoint\": \"espelho_bancario\", \"periodo\": \"hoje\"}",
        "method": "POST",
        "url": "https://gestorconecta-mcp-gateway.oxlser.easypanel.host/mcp/crm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "autodetect",
              "jsonPropertyName": "data"
            }
          }
        }
      },
      "id": "tool-gateway",
      "name": "🌐 MCP Gateway CRM",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [680, 520],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "MCP Gateway API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-field",
              "name": "resposta",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "timestamp-field",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "📝 Formatar Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "📤 Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "▶️ Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "🤖 Agente Camaleão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Entrada Webhook": {
      "main": [
        [
          {
            "node": "🤖 Agente Camaleão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Agente Camaleão": {
      "main": [
        [
          {
            "node": "📝 Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        [
          {
            "node": "🌐 MCP Gateway CRM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📝 Formatar Resposta": {
      "main": [
        [
          {
            "node": "📤 Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T12:00:00.000Z",
  "versionId": "1"
}
