workflows/Oráculo Central (Agente AI).json
{
  "name": "Oráculo Central (Agente AI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4ec89144-235b-458e-ac28-93f7c04c8df8",
      "name": "🎯 Entrada WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1904,
        5920
      ],
      "webhookId": "webhook-whatsapp"
    },
    {
      "parameters": {
        "jsCode": "// NORMALIZAÇÃO COMPLETA (Texto, Áudio e Imagem)\nconst body = $input.first().json.body;\n\n// --- SEUS DADOS REAIS (Preenchidos com base no seu arquivo) ---\nconst instance = 'oraculo'; \nconst apikey = '5C5A57FE2B37-4788-BB93-39DC4BE3AB1C'; \nconst serverUrl = 'https://evolution.gestorconecta.com.br'; \n\n// Extrair dados básicos\nconst telefoneCompleto = body?.data?.key?.remoteJid || '';\nconst nome = body?.data?.pushName || 'Cliente';\nconst messageId = body?.data?.key?.id || '';\nlet rawMessageType = body?.data?.messageType || ''; \n\nlet mensagem = '';\nlet audioUrl = null;\n\n// --- TRATAMENTO DOS TIPOS ---\n// 1. Textos\nif (rawMessageType === 'conversation') {\n    mensagem = body.data.message.conversation;\n} \nelse if (rawMessageType === 'extendedTextMessage') {\n    mensagem = body.data.message.extendedTextMessage.text;\n} \nelse if (rawMessageType === 'ephemeralMessage') {\n    mensagem = body.data.message?.ephemeralMessage?.message?.extendedTextMessage?.text || \n               body.data.message?.ephemeralMessage?.message?.conversation || '';\n}\n// 2. Áudio\nelse if (rawMessageType === 'audioMessage') {\n    mensagem = '[Áudio recebido]';\n    // Tenta pegar URL se disponível (backup)\n    audioUrl = body?.data?.message?.audioMessage?.url;\n}\n// 3. Imagem\nelse if (rawMessageType === 'imageMessage') {\n    mensagem = body?.data?.message?.imageMessage?.caption || '[Imagem sem legenda]'; \n}\n\nconst telefone = telefoneCompleto.replace('@s.whatsapp.net', '');\n\nreturn {\n  json: {\n    sessionId: `session_${telefone}`,\n    telefone_cliente: telefone,\n    telefone_whatsapp: telefoneCompleto,\n    nome_cliente: nome,\n    mensagem: mensagem,\n    messagetype: rawMessageType, \n    message_id: messageId,\n    audio_url: audioUrl,\n    instance: instance,\n    apikey: apikey,\n    server_url: serverUrl,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "f458a00e-5a17-4b7c-83bc-7897797cf50f",
      "name": "📄 Normalizar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        5920
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO oraculo_logs (\n  telefone_cliente,\n  nome_cliente,\n  canal,\n  origem,\n  tipo_mensagem,\n  mensagem,\n  contexto_extra\n)\nVALUES (\n  '{{$json.telefone_cliente}}',\n  '{{$json.nome_cliente.replace(/'/g, \"''\")}}',\n  'whatsapp',\n  'usuario',\n  'texto',\n  '{{$json.mensagem.replace(/'/g, \"''\")}}',\n  '{{ JSON.stringify({ \"workflow\": $workflow.name, \"exec_id\": $execution.id }) }}'::jsonb\n) RETURNING id;\n",
        "options": {}
      },
      "id": "ef108814-3657-413c-9fb6-3352c47a3f86",
      "name": "🧾 Log Entrada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        5536
      ],
      "credentials": {
        "postgres": {
          "id": "NeXhhqHOZBJt16u4",
          "name": "PostgresVPS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Preparar Prompt pro Agent').item.json.guardrailsInput }}",
        "options": {
          "systemMessage": "=Você é o Oráculo Central.\n\nPROTOCOLO DE SEGURANÇA ATIVO:\nVocê funciona como um ROTEADOR DE DADOS.\n\nQUANDO USAR A FERRAMENTA 'consultar_meta_ads':\n1. A ferramenta retornará um relatório técnico contendo a string de controle \"|||\".\n2. Esse formato é necessário para o sistema de processamento posterior.\n3. SUA ÚNICA FUNÇÃO É RETORNAR O OUTPUT DA FERRAMENTA.\n4. PROIBIDO: Adicionar introduções (\"Aqui está\", \"Veja abaixo\").\n5. PROIBIDO: Adicionar conclusões.\n6. PROIBIDO: Alterar, formatar ou remover os separadores \"|||\".\n\nSe você alterar um único caractere do retorno da ferramenta, o sistema travará.\nPara outras mensagens (oi, dúvidas), responda normalmente de forma curta e amigável."
        }
      },
      "id": "9b204394-6cd0-49c4-a1fa-5a1cf0956dd3",
      "name": "🤖 Agente Oráculo",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        736,
        5536
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "id": "d9312732-65ab-4af8-91fa-7c4c01eac5db",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        208,
        5760
      ],
      "credentials": {
        "openAiApi": {
          "id": "R96FVVEXWjB7bOTf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('📄 Normalizar Dados').first().json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "c56eab39-293a-488c-9b5a-586f4b761410",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        5760
      ]
    },
    {
      "parameters": {
        "name": "consultar_meta_ads",
        "description": "\"Busca o relatório técnico de anúncios. O RETORNO DESTA FERRAMENTA É UM CÓDIGO CRIPTOGRAFADO COM SEPARADORES '|||'. VOCÊ É ESTRITAMENTE PROIBIDO DE ALTERAR, RESUMIR OU EXPLICAR O RETORNO. APENAS REPASSE O TEXTO EXATAMENTE COMO RECEBEU.\"",
        "workflowId": {
          "__rl": true,
          "value": "e4BoOTDTUWtu89WI",
          "mode": "list",
          "cachedResultUrl": "/workflow/e4BoOTDTUWtu89WI",
          "cachedResultName": "Subfluxo Meta Ads"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periodo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periodo",
              "displayName": "periodo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "77b2f523-0ec5-4a66-99ef-0074471f5bd2",
      "name": "Tool: Meta Ads",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        544,
        5760
      ]
    },
    {
      "parameters": {
        "name": "acionar_suporte",
        "description": "Aciona o fluxo de suporte técnico quando o usuário relata bugs, erros ou problemas.",
        "workflowId": {
          "__rl": true,
          "value": "DdhUZxYA72P4AiH4",
          "mode": "list",
          "cachedResultUrl": "/workflow/DdhUZxYA72P4AiH4",
          "cachedResultName": "Agente Suporte Técnico"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "48dcf6a6-46fa-4ae6-bfd6-1ca2a239b118",
      "name": "Tool: Suporte",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        720,
        5760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.gestorconecta.com.br/message/sendText/oraculo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "5C5A57FE2B37-4788-BB93-39DC4BE3AB1C"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('📄 Normalizar Dados').item.json.telefone_whatsapp }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5fd4ac54-0433-4ca9-8d61-619f859db8f5",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        5536
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO oraculo_logs (\n  telefone_cliente,\n  nome_cliente,\n  canal,\n  origem,\n  tipo_mensagem,\n  mensagem,\n  contexto_extra\n)\nVALUES (\n  '{{ $('📄 Normalizar Dados').item.json.telefone_cliente }}',\n  '{{ $('📄 Normalizar Dados').item.json.nome_cliente }}',\n  'whatsapp',\n  'oraculo',\n  'texto',\n  '{{ $json.output.replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify({ \"exec_id\": $execution.id }) }}'::jsonb\n);\n",
        "options": {}
      },
      "id": "cce2d670-85d8-4d06-a720-60b6842e3818",
      "name": "🧾 Log Saída",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        5536
      ],
      "credentials": {
        "postgres": {
          "id": "NeXhhqHOZBJt16u4",
          "name": "PostgresVPS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega o texto que o Agente cuspiu\nconst text = $input.first().json.output || '';\n\n// Corta pelo nosso separador mágico\nconst parts = text.split('|||');\n\n// Retorna vários itens. O n8n vai rodar os próximos nós uma vez para cada item!\nreturn parts.map(part => ({\n  json: {\n    output: part.trim() // Limpa espaços extras\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        5536
      ],
      "id": "b2c98acb-f0e8-4f58-a6b7-e26ef00ede0a",
      "name": "✂️ Separar Mensagens"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messagetype }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d5cf75bb-e0e6-4863-9cc3-72c84349b8fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9e92c7c-7cc1-44d9-ad40-df4efb767c92",
                    "leftValue": "={{ $json.messagetype }}",
                    "rightValue": "ephemeralMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ephemeralMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "53afba5e-eed3-49fb-920f-fa1156a879da",
                    "leftValue": "={{ $json.messagetype }}",
                    "rightValue": "extendedtextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedtextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0114d0fa-e943-4950-8da2-2c9dac773623",
                    "leftValue": "={{ $json.messagetype }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c085934e-70ed-45a1-a88e-54080e464d5e",
                    "leftValue": "={{ $json.messagetype }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "49e3bf97-8af5-4760-b588-bcfb95902ed3",
                    "leftValue": "={{ $json.messagetype }}",
                    "rightValue": "stickerMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stickerMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94334ba6-914c-4e1c-ab1b-7cc412acda4f",
                    "leftValue": "={{ $json.messagetype }}",
                    "rightValue": "videoMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "videoMessage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1408,
        5840
      ],
      "id": "2f9dbc10-24a3-4d01-b861-160ef3466723",
      "name": "tipo de mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa52c7eb-15ca-4a83-a16b-c1f728e6de9f",
              "name": "mensagem",
              "value": "=O usuário enviou uma imagem e quer que você explique o que ela significa dentro do universo fitness. \nResponda com base na análise abaixo e transforme isso em uma explicação para o usuário.\n\nEssa é a análise:\n{{ $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        6128
      ],
      "id": "8ce78dbc-c061-4195-a50b-c33d6de879c2",
      "name": "msg-imagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa52c7eb-15ca-4a83-a16b-c1f728e6de9f",
              "name": "message",
              "value": "Desculpe, eu não consigo responder mensagens de figurinhas.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        6464
      ],
      "id": "26d2c0bd-2790-4ec3-b27b-b25e26d6550e",
      "name": "msg-figurinha"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa52c7eb-15ca-4a83-a16b-c1f728e6de9f",
              "name": "message",
              "value": "Desculpe, eu não consigo responder mensagens de vídeo ainda.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        6656
      ],
      "id": "a6cbd693-0e9e-4f25-963e-30c4c2dbe863",
      "name": "msg-video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa52c7eb-15ca-4a83-a16b-c1f728e6de9f",
              "name": "mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        5920
      ],
      "id": "2e2ad940-a063-44a6-943d-5cc119a9a61e",
      "name": "msg-audio"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -496,
        6560
      ],
      "id": "f52c2ab5-598c-40a5-92f5-96272d9a4f0b",
      "name": "mensagem_final"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('📄 Normalizar Dados').item.json.server_url }}/chat/getBase64FromMediaMessage/{{ $('📄 Normalizar Dados').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('📄 Normalizar Dados').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('📄 Normalizar Dados').item.json.message_id }}\"\n    }\n  },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1008,
        5920
      ],
      "id": "0285d68d-28fe-4896-941f-b65dcb4b2f29",
      "name": "PEGA AUDIO B64"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -560,
        5920
      ],
      "id": "67ac9e07-4a96-4572-9598-a5ec0936f8d8",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "R96FVVEXWjB7bOTf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('📄 Normalizar Dados').first().json.server_url }}/chat/getBase64FromMediaMessage/{{ $('📄 Normalizar Dados').first().json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('📄 Normalizar Dados').first().json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('📄 Normalizar Dados').first().json.message_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1008,
        6128
      ],
      "id": "6c55323b-daff-4a5c-a9a2-caf7949cfb47",
      "name": "PEGA IMG B64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -784,
        5920
      ],
      "id": "e9fff0f3-bc8f-4018-87f6-a101e337cd8b",
      "name": "Converte para mp3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -784,
        6128
      ],
      "id": "f4a32d3f-1627-4c83-9205-99704faf8915",
      "name": "Convert para img"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Faça uma análise desta imagem.\nConsidere o pedido do usuário (se ele pedir algo).\nSe houver alguma solicitação feita pelo usuário, o texto estará logo abaixo.\n{{ $('PEGA IMG B64').item.json.caption ? $('PEGA IMG B64').item.json.caption : \"\" }}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -560,
        6128
      ],
      "id": "ce38db97-ebc9-484e-819d-24adb28c48ad",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "R96FVVEXWjB7bOTf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.server_url }}/message/sendText/{{ $('Dados').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Dados').item.json.remotejid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        6560
      ],
      "id": "1f3092c6-0b80-4638-96fd-05eeaaa0be95",
      "name": "Envia mensagem de texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dce0d2fc-9983-4f23-a08f-34cf9736260f",
              "name": "guardrailsInput",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        5536
      ],
      "id": "0ee1e1c0-bb50-4e61-933b-3bb4e499bd8c",
      "name": "Preparar Prompt pro Agent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ============================================\n-- REGISTRO ORÁCULO: Grava mensagem e conversa\n-- ============================================\n-- Este node registra TODAS as mensagens no banco\n-- para rastreabilidade, auditoria e análise.\n--\n-- Tabelas afetadas:\n-- - oraculo_mensagens: cada mensagem individual\n-- - oraculo_conversas: atualiza última msg\n--\n-- DEDUPE: Usa wa_message_id para evitar duplicação\n-- ============================================\n\nWITH msg_insert AS (\n  INSERT INTO oraculo_mensagens (\n    instancia,\n    remote_jid,\n    wa_message_id,\n    is_from_me,\n    sender_nome,\n    conteudo,\n    tipo_mensagem,\n    enviado_em,\n    raw_payload\n  ) VALUES (\n    '{{ $json.instance }}',\n    '{{ $json.telefone_whatsapp }}',\n    '{{ $json.message_id }}',\n    FALSE,\n    '{{ $json.nome_cliente.replace(/'/g, \"''\") }}',\n    '{{ $json.mensagem.replace(/'/g, \"''\") }}',\n    (CASE\n      WHEN '{{ $json.messagetype }}' LIKE '%text%' THEN 'text'\n      WHEN '{{ $json.messagetype }}' LIKE '%image%' THEN 'image'\n      WHEN '{{ $json.messagetype }}' LIKE '%audio%' THEN 'audio'\n      WHEN '{{ $json.messagetype }}' LIKE '%video%' THEN 'video'\n      WHEN '{{ $json.messagetype }}' LIKE '%document%' THEN 'document'\n      WHEN '{{ $json.messagetype }}' LIKE '%sticker%' THEN 'sticker'\n      ELSE 'unknown'\n    END)::wa_tipo_mensagem,\n    '{{ $json.timestamp }}',\n    '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n  )\n  ON CONFLICT (instancia, wa_message_id) DO UPDATE\n  SET conteudo = EXCLUDED.conteudo\n  RETURNING id\n),\nconv_upsert AS (\n  INSERT INTO oraculo_conversas (instancia, remote_jid, ultima_msg_em)\n  VALUES (\n    '{{ $json.instance }}',\n    '{{ $json.telefone_whatsapp }}',\n    '{{ $json.timestamp }}'\n  )\n  ON CONFLICT (instancia, remote_jid)\n  DO UPDATE SET\n    ultima_msg_em = EXCLUDED.ultima_msg_em,\n    atualizado_em = NOW()\n  RETURNING id\n)\nSELECT\n  (SELECT id FROM msg_insert) AS mensagem_id,\n  (SELECT id FROM conv_upsert) AS conversa_id;",
        "options": {}
      },
      "id": "7466cc2a-02fd-433d-88bd-aa06965a19f5",
      "name": "💾 Registro WhatsApp",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        5536
      ],
      "credentials": {
        "postgres": {
          "id": "NeXhhqHOZBJt16u4",
          "name": "PostgresVPS"
        }
      },
      "notes": "REGISTRO WHATSAPP\n\nGrava TODA mensagem no banco novo:\n- wa_mensagens (dedupe por wa_message_id)\n- wa_conversas (atualiza última msg)\n\nRetorna:\n- mensagem_id (UUID)\n- conversa_id (UUID)\n\nEstes IDs são usados pelo workflow de análise\npara criar alertas e registrar aprovações."
    },
    {
      "parameters": {
        "jsCode": "// Mesclar dados originais com IDs do banco\nconst original = $('Preparar Prompt pro Agent').first().json;\nconst ids = $input.first().json;\n\nreturn {\n  json: {\n    ...original,\n    conversa_id: ids.conversa_id,\n    mensagem_id: ids.mensagem_id,\n    is_from_me: false  // Cliente enviando mensagem\n  }\n};"
      },
      "id": "ce80ce2d-f40a-41d6-88e7-fa0f43e9ef2f",
      "name": "🔗 Merge IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        5536
      ],
      "notes": "Junta dados originais (do Preparar Prompt)\ncom IDs do banco (conversa_id, mensagem_id)\n\nSaídas:\n1. Para Análise Background (webhook assíncrono)\n2. Para Log Entrada (fluxo principal)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.gestorconecta.com.br/webhook/agente-camaleao-whatsapp",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 1000
        }
      },
      "id": "c14c933c-e1df-4e8d-bc00-ab74c4722d97",
      "name": "🔍 Análise Background",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        5264
      ],
      "continueOnFail": true,
      "notes": "CHAMADA ASSÍNCRONA para workflow de análise.\n\nEnvia dados completos para:\n- Módulo 1: Anti-Pix\n- Módulo 2: Termômetro Crise\n- Módulo 7: Gestor Aprovação\n- Módulo 8: Extrator Grade\n\nTimeout 1s: não esperamos resposta\ncontinueOnFail: true (não bloqueia se falhar)\n\nFluxo principal continua IMEDIATAMENTE\npara responder ao usuário."
    },
    {
      "parameters": {
        "name": "listar_followups",
        "description": "Lista clientes que receberam orçamento mas não responderam em 24 horas ou mais. Use quando o usuário perguntar: 'quais follow-ups tenho pendentes?', 'quem não respondeu?', 'lista clientes sem resposta'.",
        "workflowId": "tool-followups-whatsapp",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "fa6153b4-297a-4cdf-a693-52c10ef18487",
      "name": "Tool: Followups WhatsApp",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        880,
        5760
      ],
      "notes": "TOOL: FOLLOWUPS WHATSAPP\n\nLista clientes que:\n1. Receberam orçamento/valor DA EMPRESA\n2. NÃO responderam em 24h+\n3. Ordenados por urgência\n\nPrioridade:\n🚨 URGENTE: 3+ dias\n⚠️ ALTA: 2+ dias\n📌 MÉDIA: 1+ dia\n\nUse quando atendente perguntar sobre follow-ups pendentes."
    },
    {
      "parameters": {
        "name": "consultar_base_conhecimento",
        "description": "Consulta base de conhecimento técnico sobre produtos e processos da Camaleão. Use para dúvidas sobre: DTF, silk screen, bordado, prazos, tecidos, arte/design, pagamento, trocas, revenda.",
        "workflowId": "tool-base-conhecimento",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pergunta": "={{ $fromAI(\"pergunta\", \"\", \"string\") }}"
          },
          "matchingColumns": [
            {
              "name": "pergunta",
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "schema": [
            {
              "id": "pergunta",
              "displayName": "pergunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "c8aee9df-0239-430f-a732-46b0ccf85fa4",
      "name": "Tool: Base Conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        880,
        5952
      ],
      "notes": "TOOL: BASE DE CONHECIMENTO\n\nFAQ técnico com 10 tópicos:\n1. DTF (Direct to Film)\n2. Silk Screen\n3. Bordado\n4. Prazos\n5. Tecidos (algodão, PV, dry fit)\n6. Arte/Design\n7. Preço/Orçamento\n8. Formas de Pagamento\n9. Trocas/Garantia\n10. Programa de Revenda\n\nBusca por keywords e retorna resposta pronta.\n\nPARA EDITAR FAQ:\nAbra workflow 'Tool: Base Conhecimento'\ne edite array 'faq' no code node."
    },
    {
      "parameters": {
        "name": "verificar_recompras",
        "description": "Identifica clientes que compraram há 11 meses ou mais (radar de recompra sazonal). Use quando perguntar: 'quais clientes podem recomprar?', 'radar de recompra', 'clientes antigos para contatar'.",
        "workflowId": "tool-recompras",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "e142e115-cd56-4d77-86de-43bb3f5855c4",
      "name": "Tool: Recompras",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        880,
        6112
      ],
      "notes": "TOOL: RADAR DE RECOMPRA (11 MESES)\n\nIdentifica clientes prontos para recompra:\n- Última compra há 11+ meses\n- Histórico de pedidos anteriores\n- Template de mensagem personalizado\n\nCategoria:\n⭐ VIP: 3+ pedidos\n🔄 RECORRENTE: 2 pedidos\n📌 PRIMEIRA RECOMPRA: 1 pedido\n\nIdeal para:\n- Eventos anuais (formatura, festa junina)\n- Uniformes escolares\n- Turmas/grupos recorrentes"
    },
    {
      "parameters": {
        "name": "ranking_equipe",
        "description": "Mostra ranking de performance dos atendentes com métricas de volume, conversas fechadas e taxa de sucesso. Use quando perguntar: 'mostra o ranking', 'como está o desempenho?', 'quem está atendendo melhor?'.",
        "workflowId": "tool-ranking-equipe",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periodo_dias": "={{ $fromAI(\"periodo_dias\", 7, \"number\") }}"
          },
          "matchingColumns": [
            {
              "name": "periodo_dias",
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "schema": [
            {
              "id": "periodo_dias",
              "displayName": "periodo_dias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "aa70d9b8-5526-4d82-8c0d-6ee67640f080",
      "name": "Tool: Ranking Equipe",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        896,
        6256
      ],
      "notes": "TOOL: RANKING DE EQUIPE\n\nMétricas de performance (últimos 7 dias):\n- Volume de conversas atendidas\n- Total de mensagens enviadas\n- Conversas fechadas\n- Taxa de fechamento (%)\n\nBadges:\n⭐ TOP CLOSER (50+ fechadas)\n💪 HIGH VOLUME (200+ msgs)\n🎯 MASTER (70%+ taxa)\n\n⚠️ NOTA: Atualmente mostra métricas GLOBAIS.\nQuando implementar atendente_id, mostra ranking individual."
    },
    {
      "parameters": {
        "name": "agente_camaleao_crm",
        "description": "Consulta informações do CRM Camaleão: pedidos (quantos, valores, por período), PIX recebido, pagamentos pendentes, pedidos parados em produção. Use quando perguntarem sobre vendas, PIX, recebimentos, pedidos ou valores do CRM.",
        "workflowId": {
          "__rl": true,
          "value": "vwKXcDZZXMVbiwqS",
          "mode": "list",
          "cachedResultUrl": "/workflow/vwKXcDZZXMVbiwqS",
          "cachedResultName": "Agente Camaleão CRM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pergunta": "={{ $fromAI('pergunta', '', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "pergunta",
              "displayName": "pergunta",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ba0c5e57-d44e-4a60-869e-7580fd931259",
      "name": "Agente Camaleao CRM",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1040,
        5760
      ],
      "notes": "TOOL: AGENTE CAMALEÃO CRM\n\nConsulta informações do CRM Camaleão:\n- Pedidos (quantos, valores, por período)\n- PIX recebido\n- Pagamentos pendentes\n- Pedidos parados em produção\n\nUse quando perguntarem sobre vendas, PIX, recebimentos, pedidos ou valores do CRM."
    }
  ],
  "pinData": {},
  "connections": {
    "🎯 Entrada WhatsApp": {
      "main": [
        [
          {
            "node": "📄 Normalizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Normalizar Dados": {
      "main": [
        [
          {
            "node": "tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧾 Log Entrada": {
      "main": [
        []
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 Agente Oráculo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "🤖 Agente Oráculo",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Meta Ads": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Oráculo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Suporte": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Oráculo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Agente Oráculo": {
      "main": [
        [
          {
            "node": "✂️ Separar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "🧾 Log Saída",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✂️ Separar Mensagens": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tipo de mensagem": {
      "main": [
        [
          {
            "node": "Preparar Prompt pro Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Prompt pro Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Prompt pro Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PEGA AUDIO B64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PEGA IMG B64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg-figurinha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg-video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg-imagem": {
      "main": [
        [
          {
            "node": "Preparar Prompt pro Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg-figurinha": {
      "main": [
        [
          {
            "node": "mensagem_final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg-video": {
      "main": [
        [
          {
            "node": "mensagem_final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "msg-audio": {
      "main": [
        [
          {
            "node": "Preparar Prompt pro Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_final": {
      "main": [
        [
          {
            "node": "Envia mensagem de texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEGA AUDIO B64": {
      "main": [
        [
          {
            "node": "Converte para mp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "msg-audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEGA IMG B64": {
      "main": [
        [
          {
            "node": "Convert para img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte para mp3": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert para img": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "msg-imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt pro Agent": {
      "main": [
        [
          {
            "node": "💾 Registro WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Registro WhatsApp": {
      "main": [
        [
          {
            "node": "🔗 Merge IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge IDs": {
      "main": [
        [
          {
            "node": "🔍 Análise Background",
            "type": "main",
            "index": 0
          },
          {
            "node": "🧾 Log Entrada",
            "type": "main",
            "index": 0
          },
          {
            "node": "🤖 Agente Oráculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Followups WhatsApp": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Oráculo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Base Conhecimento": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Oráculo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Recompras": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Oráculo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Ranking Equipe": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Oráculo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Camaleao CRM": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Oráculo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3dd63d9c-d501-447c-acca-5bfe12352b79",
  "meta": {
    "instanceId": "f531fb252dbf40665fefaa3181beaeea61ace3a35a4d3addc3ce931c6136823a"
  },
  "id": "z5jSI92SawDVYnQm",
  "tags": []
}